### Importación de datos

In [18]:
import pandas as pd

url = "https://raw.githubusercontent.com/adsecv/cas/refs/heads/main/base-de-datos-challenge1-latam/tienda_1.csv"
url2 = "https://raw.githubusercontent.com/adsecv/cas/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/adsecv/cas/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/adsecv/cas/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda1 = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

#tienda1.head()

#1. Análisis de facturación

In [23]:
# Calcula los ingresos totales
ingresos_tienda1 = (tienda1['Precio']).sum()
ingresos_tienda2 = (tienda2['Precio']).sum()
ingresos_tienda3 = (tienda3['Precio']).sum()
ingresos_tienda4 = (tienda4['Precio']).sum()

# Imprime los ingresos con un formato adecuado
print(f"Ingresos tienda 1: {ingresos_tienda1:,.1f}")
print(f"Ingresos tienda 2: {ingresos_tienda2:,.1f}")
print(f"Ingresos tienda 3: {ingresos_tienda3:,.1f}")
print(f"Ingresos tienda 4: {ingresos_tienda4:,.1f}")

Ingresos tienda 1: 1,150,880,400.0
Ingresos tienda 2: 1,116,343,500.0
Ingresos tienda 3: 1,098,019,600.0
Ingresos tienda 4: 1,038,375,700.0

# 2. Ventas por categoría

In [53]:
# Agrupa y cuenta la cantidad de productos vendidos en cada categoría para cada tienda
productos_por_categoria_tienda1 = tienda1.groupby('Categoría del Producto').size().reset_index(name='Tienda 1')
productos_por_categoria_tienda2 = tienda2.groupby('Categoría del Producto').size().reset_index(name='Tienda 2')
productos_por_categoria_tienda3 = tienda3.groupby('Categoría del Producto').size().reset_index(name='Tienda 3')
productos_por_categoria_tienda4 = tienda4.groupby('Categoría del Producto').size().reset_index(name='Tienda 4')

tabla_completa = pd.merge(productos_por_categoria_tienda1, productos_por_categoria_tienda2, on='Categoría del Producto', how='outer')
tabla_completa = pd.merge(tabla_completa, productos_por_categoria_tienda3, on='Categoría del Producto', how='outer')
tabla_completa = pd.merge(tabla_completa, productos_por_categoria_tienda4, on='Categoría del Producto', how='outer')

# Asegurarse de que las cantidades sean enteros
tabla_completa[['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4']] = tabla_completa[['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4']].astype(int)

# Ordenar por la columna 'Tienda 1' de mayor a menor
tabla_completa = tabla_completa.sort_values(by='Tienda 1', ascending=False).reset_index(drop=True)

# Imprime la tabla final con las categorías y la cantidad de productos vendidos por tienda
print(tabla_completa.to_string(index=False))

 Categoría del Producto  Tienda 1  Tienda 2  Tienda 3  Tienda 4
                Muebles       465       442       499       480
           Electrónicos       448       422       451       451
               Juguetes       324       313       315       338
      Electrodomésticos       312       305       278       254
   Deportes y diversión       284       275       277       277
 Instrumentos musicales       182       224       177       170
                 Libros       173       197       185       187
Artículos para el hogar       171       181       177       201

# 3. Calificación promedio de la tienda

In [31]:
# Calcula la calificación promedio para cada tienda
promedio_calificacion_tienda1 = tienda1['Calificación'].mean()
promedio_calificacion_tienda2 = tienda2['Calificación'].mean()
promedio_calificacion_tienda3 = tienda3['Calificación'].mean()
promedio_calificacion_tienda4 = tienda4['Calificación'].mean()

# Imprime los resultados con formato de decimales
print(f"Promedio de calificación tienda 1: {promedio_calificacion_tienda1:.2f}")
print(f"Promedio de calificación tienda 2: {promedio_calificacion_tienda2:.2f}")
print(f"Promedio de calificación tienda 3: {promedio_calificacion_tienda3:.2f}")
print(f"Promedio de calificación tienda 4: {promedio_calificacion_tienda4:.2f}")

Promedio de calificación tienda 1: 3.98
Promedio de calificación tienda 2: 4.04
Promedio de calificación tienda 3: 4.05
Promedio de calificación tienda 4: 4.00

# 4. Productos más y menos vendidos

In [54]:
# Cuenta la cantidad de ventas de cada producto (por el número de ocurrencias)
productos_vendidos_tienda1 = tienda1.groupby('Producto').size().reset_index(name='Ventas')
productos_vendidos_tienda2 = tienda2.groupby('Producto').size().reset_index(name='Ventas')
productos_vendidos_tienda3 = tienda3.groupby('Producto').size().reset_index(name='Ventas')
productos_vendidos_tienda4 = tienda4.groupby('Producto').size().reset_index(name='Ventas')

# Ordena los productos por ventas
top5_mas_vendidos_tienda1 = productos_vendidos_tienda1.sort_values('Ventas', ascending=False).head(5).reset_index(drop=True)
top5_menos_vendidos_tienda1 = productos_vendidos_tienda1.sort_values('Ventas', ascending=True).head(5).reset_index(drop=True)

top5_mas_vendidos_tienda2 = productos_vendidos_tienda2.sort_values('Ventas', ascending=False).head(5).reset_index(drop=True)
top5_menos_vendidos_tienda2 = productos_vendidos_tienda2.sort_values('Ventas', ascending=True).head(5).reset_index(drop=True)

top5_mas_vendidos_tienda3 = productos_vendidos_tienda3.sort_values('Ventas', ascending=False).head(5).reset_index(drop=True)
top5_menos_vendidos_tienda3 = productos_vendidos_tienda3.sort_values('Ventas', ascending=True).head(5).reset_index(drop=True)

top5_mas_vendidos_tienda4 = productos_vendidos_tienda4.sort_values('Ventas', ascending=False).head(5).reset_index(drop=True)
top5_menos_vendidos_tienda4 = productos_vendidos_tienda4.sort_values('Ventas', ascending=True).head(5).reset_index(drop=True)

# Imprime los resultados con alineación estética
print("Top 5 productos más vendidos tienda 1:")
print(top5_mas_vendidos_tienda1[['Producto', 'Ventas']].to_string(index=False, justify='center', col_space=15))
print("\nTop 5 productos menos vendidos tienda 1:")
print(top5_menos_vendidos_tienda1[['Producto', 'Ventas']].to_string(index=False, justify='center', col_space=15))

print("\nTop 5 productos más vendidos tienda 2:")
print(top5_mas_vendidos_tienda2[['Producto', 'Ventas']].to_string(index=False, justify='center', col_space=15))
print("\nTop 5 productos menos vendidos tienda 2:")
print(top5_menos_vendidos_tienda2[['Producto', 'Ventas']].to_string(index=False, justify='center', col_space=15))

print("\nTop 5 productos más vendidos tienda 3:")
print(top5_mas_vendidos_tienda3[['Producto', 'Ventas']].to_string(index=False, justify='center', col_space=15))
print("\nTop 5 productos menos vendidos tienda 3:")
print(top5_menos_vendidos_tienda3[['Producto', 'Ventas']].to_string(index=False, justify='center', col_space=15))

print("\nTop 5 productos más vendidos tienda 4:")
print(top5_mas_vendidos_tienda4[['Producto', 'Ventas']].to_string(index=False, justify='center', col_space=15))
print("\nTop 5 productos menos vendidos tienda 4:")
print(top5_menos_vendidos_tienda4[['Producto', 'Ventas']].to_string(index=False, justify='center', col_space=15))

Top 5 productos más vendidos tienda 1:
    Producto          Ventas
         Armario        60
   TV LED UHD 4K        60
      Microondas        60
Secadora de ropa        58
   Mesa de noche        56

Top 5 productos menos vendidos tienda 1:
          Producto               Ventas
  Auriculares con micrófono        33
               Celular ABXY        33
            Olla de presión        35
                  Pandereta        36
Ciencia de datos con Python        39

Top 5 productos más vendidos tienda 2:
         Producto              Ventas
Iniciando en programación        65
               Microondas        62
                  Batería        61
                Pandereta        58
        Guitarra acústica        58

Top 5 productos menos vendidos tienda 2:
    Producto         Ventas
  Juego de mesa        32
      Impresora        34
Mesa de comedor        34
         Sillón        35
    Auriculares        37

Top 5 productos más vendidos tienda 3:
    Producto         Ventas
  Kit de bancas        57
Mesa de comedor        56
      Cama king        56
   Set de ollas        55
  Mesa de noche        55

Top 5 productos menos vendidos tienda 3:
        Producto             Ventas
Bloques de construcción        35
           Set de vasos        36
                Mochila        36
             Microondas        36
           Vaso térmico        38

Top 5 productos más vendidos tienda 4:
         Producto              Ventas
                 Cama box        62
               Cubertería        59
                Cama king        56
  Dashboards con Power BI        56
Carrito de control remoto        55

Top 5 productos menos vendidos tienda 4:
          Producto               Ventas
         Guitarra eléctrica        33
                    Armario        34
          Guitarra acústica        37
Ciencia de datos con Python        38
           Lavadora de ropa        38

# 5. Envío promedio por tienda

In [55]:
# Calculaa el costo de envío promedio por tienda
costo_envio_promedio_tienda1 = tienda1['Costo de envío'].mean()
costo_envio_promedio_tienda2 = tienda2['Costo de envío'].mean()
costo_envio_promedio_tienda3 = tienda3['Costo de envío'].mean()
costo_envio_promedio_tienda4 = tienda4['Costo de envío'].mean()

# Imprime los resultados con un formato claro
print(f"Costo de envío promedio tienda 1: ${costo_envio_promedio_tienda1:,.2f}")
print(f"Costo de envío promedio tienda 2: ${costo_envio_promedio_tienda2:,.2f}")
print(f"Costo de envío promedio tienda 3: ${costo_envio_promedio_tienda3:,.2f}")
print(f"Costo de envío promedio tienda 4: ${costo_envio_promedio_tienda4:,.2f}")

Costo de envío promedio tienda 1: $26,018.61
Costo de envío promedio tienda 2: $25,216.24
Costo de envío promedio tienda 3: $24,805.68
Costo de envío promedio tienda 4: $23,459.46